[push]
	default = current
[alias]
	identity = "! git config user.name $(git config user.$1.name); git config user.email $(git config user.$1.email); :"
[user "github"]
	name = zsevic
	email = zsevic95@gmail.com
[user "heroku"]
	name = zsevic
	email = zeljkosevic95@gmail.com
[credential]
	helper = cache --timeout=3600
